Repository zenby/naris: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,js}": [
    "prettier --write",
    "eslint"
  ],
  "*.{scss,html}": [
    "prettier --write"
  ]
}

feat: add title attribute with styling
  libs/soer-components/src/lib/workbooks-view/workbooks-view/workbooks-view.component.html
  libs/soer-components/src/lib/workbooks-view/workbooks-view/workbooks-view.component.scss
Due: prettier --write

feat: add expanded text block on title hovering
  libs/soer-components/src/lib/workbooks-view/workbooks-view/workbooks-view.component.scss
Due: prettier --write

refactor(targets): small changes in code Co-authored-by: alisher_mansurov <lmn.94@mail.ru> Co-committed-by: alisher_mansurov <lmn.94@mail.ru>
  apps/naris/src/app/pages/modules/targets/list-templates-page/list-templates-page.component.ts
  apps/naris/src/app/pages/modules/targets/target-description/target-description.component.ts
  apps/naris/src/app/pages/modules/targets/target-edit-form/target-edit-form.component.ts
  apps/naris/src/app/pages/modules/targets/task-edit-form/task-edit-form.component.ts
  apps/naris/src/app/pages/modules/targets/task-tree-edit-form/task-tree-edit-form.component.html
  apps/naris/src/app/pages/modules/targets/task-tree-edit-form/task-tree-edit-form.component.scss
  apps/naris/src/app/pages/modules/targets/task-tree-edit-form/task-tree-edit-form.component.ts
Due: prettier --write, eslint

feat: remove overview from task edit
  apps/naris/src/app/pages/modules/targets/task-tree-edit-form/task-tree-edit-form.component.html
  apps/naris/src/app/pages/modules/targets/task-tree-edit-form/task-tree-edit-form.component.scss
Due: prettier --write

chore(naris): release version 0.13.0
  apps/naris/CHANGELOG.md
Due: none

chore: add compdoc
  .gitignore
  package-lock.json
  package.json
Due: none

chore: configure storybook
  libs/sr-storybook-host/.storybook/main.js
  libs/sr-storybook-host/.storybook/preview.js
  libs/sr-storybook-host/.storybook/tsconfig.json
  libs/sr-storybook-host/project.json
Due: prettier --write, eslint

docs: change grouping for default component and add docs
  apps/naris/src/app/pages/default/default.component.stories.ts
  apps/naris/src/app/pages/default/default.component.ts
Due: prettier --write, eslint

docs: change groups for stories
  apps/naris/src/app/pages/default/mobile-menu/mobile-menu.component.stories.ts
  apps/naris/src/app/pages/login/login.component.stories.ts
  apps/naris/src/app/pages/modules/certificate/certificate/certificate.component.stories.ts
  apps/naris/src/app/pages/modules/overview/info/info.component.stories.ts
  apps/naris/src/app/pages/modules/overview/metrics/metrics-list/metrics-list.component.stories.ts
  apps/naris/src/app/pages/modules/overview/metrics/targets-list/targets-list.component.stories.ts
Due: prettier --write, eslint

test: fix problem with login
  apps/naris-e2e/src/integration/articles.spec.ts
  apps/naris-e2e/src/support/commands.ts
Due: prettier --write, eslint

fix: add styles to prevent input height change on save
  apps/naris/src/app/pages/modules/abstracte/edit-abstracte-form/edit-abstracte-form.component.scss
Due: prettier --write

test: fix problem with conspects spec
  apps/naris-e2e/src/integration/workbook/conspects/conspects.spec.cy.ts
Due: prettier --write, eslint

chore: disable video for cypress
  apps/naris-e2e/cypress.json
Due: none

fix: problem with textarea edit
  libs/sr-editor/src/lib/components/block-editor/block-editor.component.html
  libs/sr-editor/src/lib/components/block-editor/block-editor.component.ts
  libs/sr-editor/src/lib/textarea-autoresize.directive.ts
Due: prettier --write, eslint

chore(naris): release version 0.13.1
  apps/naris/CHANGELOG.md
Due: none

style: change style for title in workbooks
  libs/soer-components/src/lib/workbooks-view/workbooks-view/workbooks-view.component.html
  libs/soer-components/src/lib/workbooks-view/workbooks-view/workbooks-view.component.scss
Due: prettier --write

feat: change calc of textarea line
  libs/sr-editor/src/lib/components/block-editor/block-editor.component.html
  libs/sr-editor/src/lib/components/block-editor/block-editor.component.ts
  libs/sr-editor/src/lib/textarea-autoresize.directive.ts
Due: prettier --write, eslint

feat(apps/naris): create script for creating version.ts file
  apps/naris/create-version.js
  package.json
Due: prettier --write, eslint

refactor(naris/login): move `narisVersion` to services naris
  apps/naris/src/app/pages/login/login.component.ts
  apps/naris/src/app/services/application.service.ts
Due: prettier --write, eslint

refactor(naris): rename script name
  apps/naris/project.json
  package.json
Due: none

feat: add new executable script in apps/naris and add script in package.json
  apps/naris/project.json
  package.json
Due: none

refactor(naris/login): change version view in login page
  apps/naris/src/app/pages/login/login.component.html
Due: prettier --write

refactor(naris/login): delete comments in login.component.css
  apps/naris/src/app/pages/login/login.component.css
Due: none

refactor(naris/nx): update project.json config
  apps/naris/project.json
Due: none

refactor(script): rename log
  scripts/update-naris-version.js
Due: prettier --write, eslint

refactor(apps/naris): update create-version.js script
  apps/naris/create-version.js
Due: prettier --write, eslint

refactor(naris/nx): add `dependOn` key for version command
  apps/naris/project.json
Due: none

feat(naris/login): add version view in login page
  apps/naris/src/app/pages/login/login.component.css
  apps/naris/src/app/pages/login/login.component.html
  apps/naris/src/app/pages/login/login.component.ts
Due: prettier --write, eslint

refactor(scripts): rename update-naris-version.js and move to `./scripts/`
  scripts/update-naris-version.js
Due: prettier --write, eslint

feat(apps/naris): use naris version and add it to login component
  apps/naris/src/app/pages/login/login.component.ts
  apps/naris/src/environments/version.ts
Due: prettier --write, eslint

refactor(naris/login): remove indents
  apps/naris/src/app/pages/login/login.component.css
Due: none

chore(naris): release version 0.14.0
  apps/naris/CHANGELOG.md
Due: none

chore: update version
  apps/naris/src/environments/version.ts
Due: prettier --write, eslint

refactor: refactor list story
  libs/soer-components/src/lib/list/list.component.html
  libs/soer-components/src/lib/list/list.component.stories.ts
Due: prettier --write, eslint

refactor(editor): refactor block editor controls story
  libs/sr-editor/src/lib/components/block-editor-controls/block-editor-controls.component.stories.ts
Due: prettier --write, eslint

test: добавлено тестирование RefreshCookieStrategy
  apps/auth/src/app/common/strategies/refresh-сookie.strategy.spec.ts
Due: prettier --write, eslint

feat: переписал код, оставил только Fingerprint
  apps/auth/src/app/auth/auth.controller.ts
  apps/auth/src/app/auth/auth.e2e.spec.ts
  apps/auth/src/app/auth/auth.service.ts
  apps/auth/src/app/auth/helpers/fingerprint-request.helper.spec.ts
  apps/auth/src/app/auth/helpers/fingerprint.spec.ts
  apps/auth/src/app/auth/helpers/fingerprint.ts
  apps/auth/src/app/auth/helpers/refresh-token.helper.spec.ts
  apps/auth/src/app/auth/helpers/refresh-token.helper.ts
  apps/auth/src/app/auth/tests/get-jwt.test.helper.ts
  apps/auth/src/app/auth/types/refresh-token-payload.interface.ts
  apps/auth/src/app/auth/types/request-fingerprint.interface.ts
  apps/auth/src/app/common/strategies/refresh-сookie.strategy.spec.ts
  apps/auth/src/app/common/strategies/refreshCookie.strategy.ts
  apps/auth/src/app/user/tests/test.users.ts
  apps/auth/src/app/user/user.controller.e2e.spec.ts
Due: prettier --write, eslint

refactor: внес изменения в тип fingerprint в RefreshTokenPayload
  apps/auth/src/app/auth/types/refresh-token-payload.interface.ts
Due: prettier --write, eslint

feat: добавлена функциональность "цифрового отпечатка" в AuthService
  apps/auth/src/app/auth/auth.controller.ts
  apps/auth/src/app/auth/auth.e2e.spec.ts
  apps/auth/src/app/auth/auth.service.ts
  apps/auth/src/app/auth/helpers/access-token.helper.ts
  apps/auth/src/app/auth/helpers/base-token.helper.ts
  apps/auth/src/app/auth/helpers/fingerprint-request.helper.ts
  apps/auth/src/app/auth/helpers/fingerprint.helper.ts
  apps/auth/src/app/auth/helpers/refresh-token.helper.spec.ts
  apps/auth/src/app/auth/helpers/refresh-token.helper.ts
  apps/auth/src/app/auth/tests/auth.test.module.ts
  apps/auth/src/app/auth/tests/get-jwt.test.helper.ts
  apps/auth/src/app/auth/types/refresh-token-payload.interface.ts
  apps/auth/src/app/auth/types/request-fingerprint.interface.ts
  apps/auth/src/app/common/strategies/refreshCookie.strategy.ts
  apps/auth/src/app/user/tests/test.users.ts
  apps/auth/src/app/user/user.controller.e2e.spec.ts
  apps/naris-e2e/src/integration/workshops.spec.ts
Due: prettier --write, eslint

refactor: рефакторинг кода Auth e2e-test на дублирование
  apps/auth/src/app/auth/auth.e2e.spec.ts
Due: prettier --write, eslint
