Repository zenby/naris: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

refactor: update question test
  apps/naris-api/src/app/modules/questions/questions.e2e.spec.ts
Due: prettier --write, eslint

chore: update questions.http
  apps/naris-api/src/app/modules/questions/questions.http
Due: none

refactor: use guard to check question accessibility for current user
  apps/naris-api/src/app/modules/questions/guards/question-accessibility.guards.ts
  apps/naris-api/src/app/modules/questions/questions.controller.ts
  apps/naris-api/src/app/modules/questions/questions.service.ts
Due: prettier --write, eslint

refactor: remove useless guards
  apps/naris-api/src/app/modules/questions/constants/messages.ts
  apps/naris-api/src/app/modules/questions/guards/question-creation-auth.guard.ts
  apps/naris-api/src/app/modules/questions/guards/question-getting-auth.guard.ts
  apps/naris-api/src/app/modules/questions/questions.controller.ts
Due: prettier --write, eslint

refactor: use user uuid in create question dto
  apps/naris-api/src/app/modules/questions/dto/create-question.dto.ts
Due: prettier --write, eslint

feat: add confirmation message when subscribe
  apps/naris/src/app/pages/default/default.component.html
  apps/naris/src/app/pages/default/mobile-menu/mobile-menu.component.html
  apps/naris/src/app/pages/modules/payment/pay-form/pay-form.component.html
  apps/naris/src/app/pages/modules/payment/pay-form/pay-form.component.ts
  libs/soer-components/src/lib/no-content/no-content.component.html
Due: prettier --write, eslint

chore(naris): release version 0.17.0
  apps/naris/CHANGELOG.md
Due: none

chore: update version file
  apps/naris/src/environments/version.ts
Due: prettier --write, eslint

feat: add user profile editing support Co-authored-by: mamin_paren <to.mamin.paren@gmail.com> Co-committed-by: mamin_paren <to.mamin.paren@gmail.com>
  apps/auth/src/app/auth/auth.e2e.spec.ts
  apps/auth/src/app/auth/helpers/fingerprint.spec.ts
  apps/auth/src/app/auth/helpers/refresh-token.helper.spec.ts
  apps/auth/src/app/auth/tests/auth.test.helper.ts
  apps/auth/src/app/auth/tests/auth.test.module.ts
  apps/auth/src/app/auth/tests/get-jwt.test.helper.ts
  apps/auth/src/app/common/guards/roles-guard.ts
  apps/auth/src/app/common/guards/user-owner.guard.ts
  apps/auth/src/app/user/dto/user-info-dto.ts
  apps/auth/src/app/user/tests/test.users.ts
  apps/auth/src/app/user/tests/user.test.config.ts
  apps/auth/src/app/user/tests/user.test.repository.ts
  apps/auth/src/app/user/user.controller.e2e.spec.ts
  apps/auth/src/app/user/user.controller.ts
  apps/auth/src/app/user/user.service.ts
  libs/sr-common-interfaces/src/lib/user-role.interface.ts
Due: prettier --write, eslint

feat: add pay page to mobile view
  apps/naris/src/app/pages/default/mobile-menu/mobile-menu.component.html
Due: prettier --write

chore(naris): release version 0.18.0
  apps/naris/CHANGELOG.md
Due: none

docs: add confidential policy
  apps/naris/src/app/pages/login/login.component.html
  apps/naris/src/app/pages/modules/payment/pay-form/pay-form.component.html
Due: prettier --write

chore(naris): release version 0.18.1
  apps/naris/CHANGELOG.md
Due: none

refactor(soer-components): refactror preloader component story
  libs/soer-components/src/lib/preloader/preloader.component.stories.ts
Due: prettier --write, eslint

refactor(soer-components): refactror file list story
  libs/soer-components/src/lib/files-list/files-list.component.stories.ts
Due: prettier --write, eslint

refactor(soer-components): refactror access denied story
  libs/soer-components/src/lib/access-denied/access-denied.component.stories.ts
Due: prettier --write, eslint

feat: add feature flags from localStorage
  apps/naris/src/environments/feature-flags.ts
Due: prettier --write, eslint

chore(naris): release version 0.19.0
  apps/naris/CHANGELOG.md
Due: none

feat: add support api_v2 to quiz
  apps/naris/src/app/pages/pages-routing.module.ts
Due: prettier --write, eslint

chore(naris): release version 0.20.0
  apps/naris/CHANGELOG.md
Due: none

feat: add support api_v2 to targets and templates
  apps/naris/src/app/pages/pages-routing.module.ts
Due: prettier --write, eslint

chore(naris): release version 0.21.0
  apps/naris/CHANGELOG.md
Due: none

feat: activate api_v2 to production mode
  apps/naris/src/environments/feature-flags.ts
Due: prettier --write, eslint

chore(naris): release version 0.22.0
  apps/naris/CHANGELOG.md
Due: none

chore: update file with version
  apps/naris/src/environments/version.ts
Due: prettier --write, eslint

feat: add support api_v2 to activity
  apps/naris/src/app/app.module.ts
Due: prettier --write, eslint

chore(naris): release version 0.23.0
  apps/naris/CHANGELOG.md
Due: none

refactor: убрал неиспользуемую тестовую переменную
  apps/naris-api/src/app/common/helpers/JwtTestHelper.ts
Due: prettier --write, eslint

fix: поправил падающие тесты JsonModule e2e-test
  apps/naris-api/src/app/common/guards/document-auth.guard.ts
  apps/naris-api/src/app/modules/json/json.controller.e2e.spec.ts
Due: prettier --write, eslint

feat: инициализация DocumentAuthGuard
  apps/naris-api/src/app/common/guards/document-auth.guard.ts
  apps/naris-api/src/app/modules/json/json.controller.ts
Due: prettier --write, eslint

feat: реализация DocumentAuthGuard
  apps/naris-api/src/app/common/guards/document-auth.guard.ts
  apps/naris-api/src/app/common/helpers/JwtTestHelper.ts
  apps/naris-api/src/app/modules/json/json.controller.e2e.spec.ts
  apps/naris-e2e/src/integration/workshops.spec.ts
Due: prettier --write, eslint

refactor: разделил обязанности в DocumentAuthGuard и покрыл тестами
  apps/naris-api/src/app/common/guards/document-auth.guard.spec.ts
  apps/naris-api/src/app/common/guards/document-auth.guard.ts
  apps/naris-api/src/app/common/helpers/document.test.helper.ts
  apps/naris-api/src/app/common/helpers/jwt.test.helper.ts
  apps/naris-api/src/app/modules/json/json.controller.e2e.spec.ts
  apps/naris-api/src/app/modules/json/json.service.ts
  apps/naris-api/src/app/modules/questions/questions.e2e.spec.ts
  apps/naris-api/src/app/modules/questions/tests/questions-test-data.ts
Due: prettier --write, eslint

refactor: переименовал гвард и метод проверки документа на пренадлежность пользователю
  apps/naris-api/src/app/common/guards/document-author.guard.spec.ts
  apps/naris-api/src/app/common/guards/document-author.guard.ts
  apps/naris-api/src/app/modules/json/json.controller.ts
  apps/naris-api/src/app/modules/json/json.service.ts
Due: prettier --write, eslint

chore(naris-api): release version 0.6.1
  apps/naris-api/CHANGELOG.md
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{scss,html})
  eslint: any of: *.{ts,js}
