Repository zenby/naris: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,js}": [
    "prettier --write",
    "eslint"
  ],
  "*.{scss,html}": [
    "prettier --write"
  ]
}

refactor: combine all tests
  apps/naris-e2e/src/integration/metrics.spec.ts
Due: prettier --write, eslint

refactor: apply data-cy attributes to metric tiles
  apps/naris-e2e/src/integration/metrics.spec.ts
  apps/naris/src/app/pages/modules/overview/metrics/metrics-list/metrics-list.component.html
Due: prettier --write, eslint

refactor: change attribute names to english for consistency
  apps/naris-e2e/src/integration/metrics.spec.ts
  apps/naris/src/app/pages/modules/overview/metrics/metrics-list/metrics-list.component.html
Due: prettier --write, eslint

refactor: apply data-cy attribute to empty target tile
  apps/naris-e2e/src/integration/metrics.spec.ts
  apps/naris/src/app/pages/modules/overview/metrics/targets-list/targets-list.component.html
Due: prettier --write, eslint

refactor: combine two tests in one
  apps/naris-e2e/src/integration/metrics.spec.ts
Due: prettier --write, eslint

refactor: use data-cy attribute for metric tab
  apps/naris-e2e/src/integration/metrics.spec.ts
Due: prettier --write, eslint

refactor: delete unnecessary describe function
  apps/naris-e2e/src/integration/metrics.spec.ts
Due: prettier --write, eslint

test(e2e-naris): fix conspects test
  apps/naris-e2e/src/integration/workbook/conspects/conspects.spec.cy.ts
  apps/naris-e2e/src/support/commands.ts
Due: prettier --write, eslint

test(naris-e2e): fix errors in qa test
  apps/naris-e2e/src/integration/qa.spec.ts
  apps/naris/src/app/pages/modules/questions/list-questions-page/list-questions-page.component.html
Due: prettier --write, eslint

test(refactor): add test modules and factories Co-authored-by: Евгений Климов <vikkes@yandex.ru> Co-committed-by: Евгений Климов <vikkes@yandex.ru>
  apps/auth/src/app/auth-openid/auth.openid.spec.ts
  apps/auth/src/app/auth/auth.e2e.spec.ts
  apps/auth/src/app/auth/helpers/access-token.helper.spec.ts
  apps/auth/src/app/auth/helpers/refresh-token.helper.spec.ts
  apps/auth/src/app/auth/tests/auth.test.config.ts
  apps/auth/src/app/auth/tests/auth.test.helper.ts
  apps/auth/src/app/auth/tests/auth.test.module.ts
  apps/auth/src/app/common/strategies/google.strategy.spec.ts
  apps/auth/src/app/common/strategies/yandex.strategy.spec.ts
  apps/auth/src/app/user/tests/user.test.config.ts
  apps/auth/src/app/user/tests/user.test.module.ts
  apps/auth/src/app/user/user.controller.e2e.spec.ts
  apps/auth/src/app/user/user.service.spec.ts
  apps/naris-api/src/app/modules/json/document.controller.e2e.spec.ts
Due: prettier --write, eslint

chore(naris): add basic path for application
  tsconfig.base.json
Due: none

feat(naris): create question asked event when create new question
  apps/naris/src/app/api/progress/personal-activityV2.service.ts
  apps/naris/src/app/pages/modules/questions/events/question-asked.event.ts
  apps/naris/src/app/pages/modules/questions/question-form/question-form.component.html
  apps/naris/src/app/pages/modules/questions/question-form/question-form.component.scss
  apps/naris/src/app/pages/modules/questions/question-form/question-form.component.ts
Due: prettier --write, eslint

feat(naris): add questions subscriber to store activity
  apps/naris/src/app/pages/modules/questions/questions.module.ts
  apps/naris/src/app/pages/modules/questions/subscribers/questions.subscriber.ts
Due: prettier --write, eslint

refactor(naris): remove unused files
  apps/naris/src/app/app.component.scss
  apps/naris/src/app/app.component.ts
Due: prettier --write, eslint

feat: display latest videos by carousel component
  apps/naris/src/app/pages/modules/overview/latest/latest.component.html
  apps/naris/src/app/pages/modules/overview/overview.module.ts
Due: prettier --write, eslint

feat: display streams videos by carousel component
  apps/naris/src/app/pages/modules/streams/streams.component.html
  apps/naris/src/app/pages/modules/streams/streams.component.ts
  apps/naris/src/app/pages/pages.module.ts
Due: prettier --write, eslint

feat: add carousel component
  libs/soer-components/src/index.ts
  libs/soer-components/src/lib/carousel/carousel.component.html
  libs/soer-components/src/lib/carousel/carousel.component.scss
  libs/soer-components/src/lib/carousel/carousel.component.stories.ts
  libs/soer-components/src/lib/carousel/carousel.component.ts
  libs/soer-components/src/lib/carousel/carousel.module.ts
Due: prettier --write, eslint

feat: change calc of max scroll width
  libs/soer-components/src/lib/carousel/carousel.component.ts
Due: prettier --write, eslint

test: add a fake resource repository
  apps/auth-cdn/src/app/resource/resource.e2e.spec.ts
  apps/auth-cdn/src/app/resource/tests/resource.test.module.ts
  apps/auth-cdn/src/app/resource/tests/resource.test.repository.ts
  apps/auth-cdn/src/app/resource/tests/test.resources.ts
Due: prettier --write, eslint

test: create a test resource module
  apps/auth-cdn/src/app/resource/resource.e2e.spec.ts
  apps/auth-cdn/src/app/resource/tests/resource.test.module.ts
Due: prettier --write, eslint

test: add a test upload-resources module
  apps/auth-cdn/src/app/resource/tests/resource.test.module.ts
  apps/auth-cdn/src/app/resource/tests/storage_engine.test.class.ts
  apps/auth-cdn/src/app/resource/tests/upload-resources.test.module.ts
Due: prettier --write, eslint

test: remove unused code
  apps/auth-cdn/src/app/resource/resource.e2e.spec.ts
Due: prettier --write, eslint

chore(naris): release version 0.27.0
  apps/naris/CHANGELOG.md
Due: none

chore: update file with version
  apps/naris/src/environments/version.ts
Due: prettier --write, eslint

feat: change stream carusel css
  apps/naris/src/app/pages/modules/streams/streams.component.html
  apps/naris/src/app/pages/modules/streams/streams.component.scss
  libs/soer-components/src/lib/carousel/carousel.component.html
  libs/soer-components/src/lib/carousel/carousel.component.scss
  libs/soer-components/src/lib/carousel/carousel.component.ts
Due: prettier --write, eslint

feat: add logger output
  libs/sr-auth-nest/src/lib/manifest.service.ts
  libs/sr-auth-nest/src/lib/user-manifest.guard.ts
Due: prettier --write, eslint

chore(naris-api): release version 0.7.1
  apps/naris-api/CHANGELOG.md
Due: none

feat: add logger info to document
  apps/naris-api/src/app/modules/json/document.controller.ts
  apps/naris-api/src/main.ts
Due: prettier --write, eslint

feat: add pino logger
  apps/naris-api/src/main.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

chore(naris-api): release version 0.8.0
  apps/naris-api/CHANGELOG.md
Due: none

feat: add dev and prod config for pino
  apps/naris-api/src/main.ts
Due: prettier --write, eslint

chore(naris-api): release version 0.9.0
  apps/naris-api/CHANGELOG.md
Due: none

chore: add info level to pino
  apps/naris-api/src/main.ts
Due: prettier --write, eslint

style: change style for thumbnail
  libs/soer-components/src/lib/thumbnail-card/thumbnail-card.component.html
  libs/soer-components/src/lib/thumbnail-card/thumbnail-card.component.scss
Due: prettier --write

style: achange styles for streams
  apps/naris/src/app/pages/modules/streams/streams.component.html
  apps/naris/src/app/pages/modules/streams/streams.component.scss
Due: prettier --write

Create diagram.yml
  .github/workflows/diagram.yml
Due: none

feat: add tag to video info
  apps/naris/src/app/api/streams/stream.model.ts
  apps/naris/src/app/pages/modules/streams/streams.component.html
  apps/naris/src/app/pages/pages.module.ts
Due: prettier --write, eslint
