Repository zenby/naris: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

test: add provider for httpclient
  apps/naris/src/app/services/application.service.spec.ts
Due: prettier --write, eslint

feat: add information about file loading
  apps/naris/src/app/pages/modules/sources/sources.component.ts
  apps/naris/src/app/services/application.service.ts
  libs/soer-components/src/lib/files-list/files-list.component.html
  libs/soer-components/src/lib/files-list/files-list.component.ts
Due: prettier --write, eslint

chore(naris): release version 0.10.0
  apps/naris/CHANGELOG.md
Due: none

fix: remove listing of sources
  apps/naris/src/app/pages/modules/sources/sources.component.ts
Due: prettier --write, eslint

chore(naris): release version 0.10.1
  apps/naris/CHANGELOG.md
Due: none

chore: get rid of package-lock inconsistencies
  package-lock.json
Due: none

chore: remove unnecessary check
  .eslintrc.json
Due: none

chore: update required package
  libs/soer-components/src/lib/files-list/files-list.component.spec.ts
  libs/soer-components/src/lib/files-list/files-list.component.stories.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

chore: fix ts errors
  .eslintrc.json
  libs/soer-components/src/lib/files-list/files-list.component.spec.ts
  libs/soer-components/src/lib/files-list/files-list.component.stories.ts
Due: prettier --write, eslint

test: change name for naris build target and update test conditions
  apps/naris-e2e/project.json
  apps/naris-e2e/src/integration/app.spec.ts
Due: prettier --write, eslint

test: add example for auth and overview page to cypress e2e
  apps/naris-e2e/project.json
  apps/naris-e2e/src/integration/overview.spec.ts
  apps/naris-e2e/src/support/commands.ts
  apps/naris/src/app/pages/login/auth/auth.component.ts
Due: prettier --write, eslint

docs: add contents and two sections
  CONTRIBUTE.md
Due: none

feat: add startAt param to menu actions
  apps/naris/src/app/pages/default/default.component.ts
Due: prettier --write, eslint

refactor: use predicate function to check user password (#368)
  apps/auth/src/app/auth/auth.service.ts
Due: prettier --write, eslint

docs: add block-editor requirements
  docs/architecture/blueprints/test.drawio
  docs/requirments/block-editor.md
Due: none

docs: add conspects requirements
  docs/requirments/documents.md
Due: none

docs: replace feature-toggle to adr
  docs/adr/feature-toggle.md
Due: none

docs: update BO and SM
  docs/requirments/documents.md
Due: none

fix: update storybook env file with common variables
  apps/naris/.storybook/__mocks__/environment.ts
Due: prettier --write, eslint

test: fix problems with certificate and loging stories
  apps/naris/.storybook/__mocks__/environment.ts
  apps/naris/src/app/pages/login/login.component.stories.ts
  apps/naris/src/app/pages/modules/certificate/certificate/certificate.component.stories.ts
Due: prettier --write, eslint

fix: add space around buttons
  apps/naris/src/app/pages/router-compose/compose-icontabs-page/compose-icontabs-page.component.scss
Due: prettier --write

refactor: добавлена типизация через интерфейс для RefreshToken
  apps/auth/src/app/auth/auth.service.ts
  apps/auth/src/app/auth/refresh-token-payload.interface.ts
  apps/naris/src/app/services/application.service.ts
Due: prettier --write, eslint

style: change style of desktop menu buttons
  apps/naris/src/app/pages/default/mobile-menu/mobile-menu.component.html
  apps/naris/src/app/pages/default/mobile-menu/mobile-menu.component.scss
Due: prettier --write

refactor: добавлена типизация через интерфейс для AccessToken
  apps/auth/src/app/auth/access-token-payload.interface.ts
  apps/auth/src/app/auth/auth.service.ts
Due: prettier --write, eslint

refactor: remove unnecessary queryParams
  apps/naris/src/app/pages/default/default.component.ts
Due: prettier --write, eslint

test: successful navigates to metrics
  apps/naris-e2e/src/integration/metrics.spec.ts
Due: prettier --write, eslint

test: metric tiles
  apps/naris-e2e/src/integration/metrics.spec.ts
Due: prettier --write, eslint

test: add check if contacts and social elements are clickable
  apps/naris-e2e/src/integration/info.spec.ts
Due: prettier --write, eslint

test: add visit test for pages/overview/info
  apps/naris-e2e/src/integration/info.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

test: add check if a element is disabled
  apps/naris-e2e/src/integration/info.spec.ts
Due: prettier --write, eslint

fix: change broken link to VK to the correct one
  apps/naris/src/app/pages/modules/overview/info/info.component.stories.ts
Due: prettier --write, eslint

test: add articles spec for cypress Co-authored-by: qvve1rty <colsid01@mail.ru> Co-committed-by: qvve1rty <colsid01@mail.ru>
  apps/naris-e2e/src/integration/articles.spec.ts
  apps/naris-e2e/src/support/articleConstants.ts
  apps/naris-e2e/src/support/commands.ts
Due: prettier --write, eslint

fix: enable tests
  .github/workflows/test.yml
Due: none

feat(urlbuilder): add host placeholder
  apps/naris/src/app/api/progress/personal-activity.service.ts
  apps/naris/src/app/app.module.ts
  apps/naris/src/app/pages/pages-routing.module.ts
  apps/naris/src/environments/environment.interface.ts
  apps/naris/src/environments/getHostVariables.ts
  libs/sr-url-builder/src/lib/interfaces/url-builder.interface.ts
  libs/sr-url-builder/src/lib/services/url-builder.service.ts
Due: prettier --write, eslint

fix: remove apiRoot from articles smartId
  apps/naris/src/app/pages/pages-routing.module.ts
Due: prettier --write, eslint

fix: add cors policy only in dev mode
  apps/auth/src/main.ts
Due: prettier --write, eslint

refactor: update return type of auth guard
  libs/sr-auth/src/lib/guards/auth.guard.ts
Due: prettier --write, eslint

refactor: make use of url tree in token guard
  libs/sr-auth/src/lib/guards/auth.guard.ts
Due: prettier --write, eslint

fix: fix authentication bug
  apps/naris/src/app/app-routing.module.ts
  libs/sr-auth/src/lib/guards/auth.guard.ts
Due: prettier --write, eslint

test: add new spec to qa page Co-authored-by: alisher_mansurov <lmn.94@mail.ru> Co-committed-by: alisher_mansurov <lmn.94@mail.ru>
  apps/naris-e2e/cypress.json
  apps/naris-e2e/src/integration/qa.spec.ts
  apps/naris-e2e/src/support/commands.ts
  apps/naris/src/app/pages/default/default.component.ts
  apps/naris/src/app/pages/default/mobile-menu/mobile-menu.component.html
  apps/naris/src/app/pages/modules/questions/list-questions-page/list-questions-page.component.html
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{scss,html})
  eslint: any of: *.{ts,js}
