Repository zenby/naris: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: remove user email from json output
  apps/naris-api/src/app/modules/json/json.service.ts
Due: prettier --write, eslint

chore(naris-api): release version 0.5.0
  apps/naris-api/CHANGELOG.md
Due: none

test: fix errors
  apps/naris-api/src/app/modules/json/json.controller.e2e.spec.ts
  apps/naris-api/src/app/modules/json/json.service.ts
Due: prettier --write, eslint

chore(naris-api): release version 0.6.0
  apps/naris-api/CHANGELOG.md
Due: none

feat(naris/overview): add activity-timeline to activity page
  apps/naris/src/app/pages/modules/overview/calendar-page/calendar-page.component.html
  apps/naris/src/app/pages/modules/overview/calendar-page/calendar-page.component.scss
Due: prettier --write

feat(libs/soer-components): add activity event interface
  libs/soer-components/src/index.ts
  libs/soer-components/src/lib/activity/activity-event.ts
  libs/soer-components/src/lib/activity/index.ts
Due: prettier --write, eslint

refactor(naris): move logic from component to service & add helper for data mapping
  apps/naris/src/app/pages/modules/overview/calendar-page/calendar-page.component.ts
  apps/naris/src/app/pages/modules/overview/calendar-page/calendar-page.helper.ts
  apps/naris/src/app/pages/modules/overview/calendar-page/calendar-page.service.ts
  apps/naris/src/app/pages/modules/overview/overview.module.ts
Due: prettier --write, eslint

refactor(libs/soer-components): rename activity event interface to activity event model interface
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.stories.ts
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.ts
  libs/soer-components/src/lib/activity/activity-event-model.ts
  libs/soer-components/src/lib/activity/index.ts
Due: prettier --write, eslint

refactor(naris): add type inheritance for activity model
  apps/naris/src/app/pages/modules/overview/calendar-page/activity-model.ts
Due: prettier --write, eslint

refactor(libs/soer-components): remove unused modules
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.stories.ts
Due: prettier --write, eslint

feat(libs/soer-components): add activity-timeline component and stories
  libs/soer-components/src/lib/activity/activity-timeline/activity-timeline.component.html
  libs/soer-components/src/lib/activity/activity-timeline/activity-timeline.component.stories.ts
  libs/soer-components/src/lib/activity/activity-timeline/activity-timeline.component.ts
Due: prettier --write, eslint

feat(libs/soer-components): add ru locale to activity module
  libs/soer-components/src/lib/activity/activity-timeline/activity-timeline.component.html
  libs/soer-components/src/lib/activity/activity.module.ts
Due: prettier --write, eslint

refactor(libs/soer-components): update day event to activity event interface
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.stories.ts
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.ts
Due: prettier --write, eslint

feat(naris/overview): add activities to lib component input
  apps/naris/src/app/pages/modules/overview/calendar-page/calendar-page.component.html
Due: prettier --write

refactor(libs/soer-components): remove useless activity calendar folder
  libs/soer-components/src/lib/activity-calendar/activity-calendar.component.html
  libs/soer-components/src/lib/activity-calendar/activity-calendar.component.scss
  libs/soer-components/src/lib/activity-calendar/activity-calendar.component.stories.ts
  libs/soer-components/src/lib/activity-calendar/activity-calendar.component.ts
  libs/soer-components/src/lib/activity-calendar/activity-calendar.module.ts
  libs/soer-components/src/lib/activity-calendar/pipes/array-filter.pipe.spec.ts
  libs/soer-components/src/lib/activity-calendar/pipes/array-filter.pipe.ts
  libs/soer-components/src/lib/activity-calendar/pipes/day-class.pipe.spec.ts
  libs/soer-components/src/lib/activity-calendar/pipes/day-class.pipe.ts
Due: prettier --write, eslint

feat(libs/soer-components): add jsdoc annotation for activity model
  libs/soer-components/src/lib/activity/activity-event-model.ts
Due: prettier --write, eslint

feat(libs/soer-components): create activity timeline dumb component
  libs/soer-components/src/index.ts
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.html
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.scss
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.stories.ts
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.ts
  libs/soer-components/src/lib/activity/activity-calendar/pipes/array-filter.pipe.spec.ts
  libs/soer-components/src/lib/activity/activity-calendar/pipes/array-filter.pipe.ts
  libs/soer-components/src/lib/activity/activity-calendar/pipes/day-class.pipe.spec.ts
  libs/soer-components/src/lib/activity/activity-calendar/pipes/day-class.pipe.ts
  libs/soer-components/src/lib/activity/activity-timeline/activity-timeline.component.html
  libs/soer-components/src/lib/activity/activity-timeline/activity-timeline.component.scss
  libs/soer-components/src/lib/activity/activity-timeline/activity-timeline.component.ts
  libs/soer-components/src/lib/activity/activity.module.ts
Due: prettier --write, eslint

refactor(naris/overview): update activity module name & split modules
  apps/naris/src/app/pages/modules/overview/overview.module.ts
Due: prettier --write, eslint

refactor(naris/overview): use activity event model from lib
  apps/naris/src/app/pages/modules/overview/calendar-page/activity-model.ts
  apps/naris/src/app/pages/modules/overview/calendar-page/calendar-page.component.ts
  apps/naris/src/app/pages/modules/overview/calendar-page/calendar-page.helper.ts
  apps/naris/src/app/pages/modules/overview/calendar-page/calendar-page.service.ts
Due: prettier --write, eslint

refactor(naris): fix merge conflicts
  apps/naris/src/app/pages/modules/overview/calendar-page/calendar-page.service.ts
Due: prettier --write, eslint

refactor(naris): rename activity model and move it to separate file
  apps/naris/src/app/pages/modules/overview/calendar-page/activity-model.ts
Due: prettier --write, eslint

feat(naris/overview): add locale provider
  apps/naris/src/app/pages/modules/overview/overview.module.ts
Due: prettier --write, eslint

refactor(libs/soer-components): use span instead div and remove unused styles
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.html
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.scss
Due: prettier --write

refactor(soer/soer-components): update styles
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.html
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.scss
  libs/soer-components/src/lib/activity/activity-calendar/activity-calendar.component.ts
Due: prettier --write, eslint

chore(naris): release version 0.24.0
  apps/naris/CHANGELOG.md
Due: none

chore: update file with version
  apps/naris/src/environments/version.ts
Due: prettier --write, eslint

feat: add cli module for browser console
  apps/naris/src/app/app.module.ts
  apps/naris/src/app/cli/cli.module.ts
  apps/naris/src/app/cli/naris-cli.service.ts
Due: prettier --write, eslint

refactor(naris-e2e/conspects): add data-cy for component and update button click selector
  apps/naris-e2e/src/integration/workbook/conspects/conspects.spec.cy.ts
  apps/naris/src/app/pages/default/mobile-menu/mobile-menu.component.html
Due: prettier --write, eslint

fix(naris-e2e/conspects): fix delete intercept
  apps/naris-e2e/src/integration/workbook/conspects/conspects.spec.cy.ts
Due: prettier --write, eslint

feat(naris-e2e/conspects): add method in the Cypress for deleting all conspects
  apps/naris-e2e/src/support/commands.ts
Due: prettier --write, eslint

refactor(naris-e2e/conspects): refactor selector
  apps/naris-e2e/src/integration/workbook/conspects/conspects.spec.cy.ts
Due: prettier --write, eslint

feat(naris-e2e/conspects): add path for conspects with intercepted
  apps/naris-e2e/src/integration/workbook/conspects/conspects.spec.cy.ts
  apps/naris-e2e/src/support/pathConstants.ts
Due: prettier --write, eslint

refactor(naris-e2e/conspects): change click button plus by id element
  apps/naris-e2e/src/integration/workbook/conspects/conspects.spec.cy.ts
  apps/naris-e2e/src/support/commands.ts
Due: prettier --write, eslint

feat(naris-e2e/conspects): create custom function for create conspect in cypress
  apps/naris-e2e/src/support/commands.ts
  apps/naris-e2e/src/support/pathConstants.ts
Due: prettier --write, eslint

feat(naris-e2e/conspects): create constants for conspcets and use it
  apps/naris-e2e/src/integration/workbook/conspects/conspects.spec.cy.ts
  apps/naris-e2e/src/support/conspectConstants.ts
Due: prettier --write, eslint

refactor(naris): delete data-cy in the menu component
  apps/naris-e2e/src/integration/workbook/conspects/conspects.spec.cy.ts
  apps/naris-e2e/src/support/commands.ts
  apps/naris/src/app/pages/default/mobile-menu/mobile-menu.component.html
Due: prettier --write, eslint

refactor(naris-e2e/conspects): update beforeEach and all test
  apps/naris-e2e/src/integration/workbook/conspects/conspects.spec.cy.ts
Due: prettier --write, eslint

feat(naris-e2e/conspects): update beforeEach, add custom function for conspcet create
  apps/naris-e2e/src/integration/workbook/conspects/conspects.spec.cy.ts
Due: prettier --write, eslint

chore(naris): release version 0.25.0
  apps/naris/CHANGELOG.md
Due: none

feat(targets): change progress bat visualization
  libs/soer-components/src/lib/aims-tree/target/target.component.html
  libs/soer-components/src/lib/aims-tree/target/target.component.scss
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{scss,html})
  eslint: any of: *.{ts,js}
