Repository zenby/naris: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: update file with version
  apps/naris/src/environments/version.ts
Due: prettier --write, eslint

Update diagram.yml
  .github/workflows/diagram.yml
Due: none

feat: change targets list view
  apps/naris/src/app/pages/modules/targets/list-targets-page/list-targets-page.component.html
  apps/naris/src/app/pages/modules/targets/list-targets-page/list-targets-page.component.scss
  apps/naris/src/app/pages/modules/targets/list-targets-page/list-targets-page.component.ts
  apps/naris/src/app/pages/modules/targets/targets-routing.module.ts
Due: prettier --write, eslint

feat: remove redirect for every 401 and 403, to error catch when renew access
  apps/naris/src/app/pages/modules/targets/list-aims-page/list-aims-page.component.html
  apps/naris/src/app/pages/modules/targets/targets-routing.module.ts
  apps/naris/src/app/pages/modules/targets/targets.module.ts
  libs/sr-auth/src/lib/interceptors/auth-interceptor.interceptor.ts
Due: prettier --write, eslint

feat: add tiles to targets
  apps/naris/src/app/pages/modules/targets/list-targets-page/list-targets-page.component.ts
  apps/naris/src/app/pages/modules/targets/targets-routing.module.ts
Due: prettier --write, eslint

style: add dark color to none state
  apps/naris/src/app/pages/modules/targets/list-aims-page/list-aims-page.component.html
  libs/soer-components/src/lib/tile/tile.component.scss
Due: prettier --write

feat: change delete target workflow
  apps/naris/src/app/pages/modules/targets/list-targets-page/list-targets-page.component.ts
Due: prettier --write, eslint

feat: add rollback button to target view
  apps/naris/src/app/pages/modules/targets/targets-routing.module.ts
Due: prettier --write, eslint

style: add styles to thumbnail card
  libs/soer-components/src/lib/thumbnail-card/thumbnail-card.component.html
  libs/soer-components/src/lib/thumbnail-card/thumbnail-card.component.scss
Due: prettier --write

refactor: remove unused variables and update imports
  apps/auth/src/app/user/tests/user.test.repository.ts
  apps/naris-api/src/app/modules/json/json.controller.e2e.spec.ts
  apps/naris-api/src/app/modules/json/json.service.ts
  apps/naris-e2e/src/support/commands.ts
  libs/sr-auth-nest/src/lib/roles-auth.guard.spec.ts
  libs/sr-dto/src/lib/dto.helpers.ts
Due: prettier --write, eslint

chore: add ignore to eslint config rule
  .eslintrc.json
Due: none

refactor: remove unused file
  apps/naris/src/environments/http-client.env.json
Due: none

chore(naris): release version 0.30.0
  apps/naris/CHANGELOG.md
Due: none

refactor: use data-cy attribute for info tab
  apps/naris-e2e/src/integration/info.spec.ts
Due: prettier --write, eslint

refactor: apply data-cy attributes to blocks with social links
  apps/naris-e2e/src/integration/info.spec.ts
  apps/naris/src/app/pages/modules/overview/info/info.component.html
Due: prettier --write, eslint

refactor: delete unnecessary waiting
  apps/naris-e2e/src/integration/info.spec.ts
Due: prettier --write, eslint

refactor: apply data-cy attributes to blocks with contacts
  apps/naris-e2e/src/integration/info.spec.ts
  apps/naris/src/app/pages/modules/overview/info/info.component.html
Due: prettier --write, eslint

test(json): refactor test Co-authored-by: mamin_paren <to.mamin.paren@gmail.com> Co-committed-by: mamin_paren <to.mamin.paren@gmail.com>
  apps/naris-api/src/app/common/guards/document-author.guard.spec.ts
  apps/naris-api/src/app/common/tests/helpers/document.test.helper.ts
  apps/naris-api/src/app/common/tests/helpers/jwt.test.helper.ts
  apps/naris-api/src/app/modules/json/document.controller.e2e.spec.ts
  apps/naris-api/src/app/modules/json/json.controller.e2e.spec.ts
  apps/naris-api/src/app/modules/json/json.service.ts
  apps/naris-api/src/app/modules/json/tests/json.test.documents.ts
  apps/naris-api/src/app/modules/json/tests/json.test.module.ts
  apps/naris-api/src/app/modules/json/tests/json.test.repository.ts
  apps/naris-api/src/app/modules/questions/questions.e2e.spec.ts
  apps/naris-api/src/app/modules/questions/tests/questions-test-data.ts
Due: prettier --write, eslint

feat: add link label to streams
  apps/naris/src/app/pages/modules/links/link-tag/link-tag.component.html
  apps/naris/src/app/pages/modules/links/link-tag/link-tag.component.scss
  apps/naris/src/app/pages/modules/links/link-tag/link-tag.component.ts
  apps/naris/src/app/pages/modules/links/links.module.ts
  apps/naris/src/app/pages/modules/streams/streams.component.html
  apps/naris/src/app/pages/modules/streams/streams.component.ts
  apps/naris/src/app/pages/modules/streams/tag2link.pipe.ts
  apps/naris/src/app/pages/pages.module.ts
  tsconfig.base.json
Due: prettier --write, eslint

feat: add conspects to streams via tags
  apps/naris/src/app/pages/modules/abstracte/abstracte.module.ts
  apps/naris/src/app/pages/modules/abstracte/view-abstracte-page/view-abstracte-page.component.html
  apps/naris/src/app/pages/modules/abstracte/view-abstracte-page/view-abstracte-page.component.scss
  apps/naris/src/app/pages/modules/streams/streams.component.ts
  apps/naris/src/app/pages/pages-routing.module.ts
Due: prettier --write, eslint

chore: add export popup module
  libs/soer-components/src/index.ts
Due: prettier --write, eslint

feat: add popup conten router
  libs/soer-components/src/lib/popup-content/popup-content.component.html
  libs/soer-components/src/lib/popup-content/popup-content.component.scss
  libs/soer-components/src/lib/popup-content/popup-content.component.ts
  libs/soer-components/src/lib/popup-content/popup-content.module.ts
Due: prettier --write, eslint

feat: add common PageLink interface
  libs/sr-common-interfaces/src/index.ts
  libs/sr-common-interfaces/src/lib/frontend/link.interface.ts
Due: prettier --write, eslint

chore: show version
  .github/workflows/test.yml
Due: none

Repo visualizer: update diagram
  diagram.svg
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{scss,html})
  eslint: any of: *.{ts,js}
