Repository zenby/naris: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: cut thumbnail image if overflow container
  libs/soer-components/src/lib/thumbnail-card/thumbnail-card.component.scss
Due: prettier --write

chore(naris): release version 0.11.0
  apps/naris/CHANGELOG.md
Due: none

fix: change redirect page for webroot
  apps/naris/src/app/app-routing.module.ts
Due: prettier --write, eslint

chore(naris): release version 0.11.1
  apps/naris/CHANGELOG.md
Due: none

docs: add information about subscriptions in stage environment
  README.md
Due: none

test: add cypress spec for workshops page
  apps/naris-e2e/src/integration/workshops.spec.ts
Due: prettier --write, eslint

test: add test for back button to cypress spec for workshops page
  apps/naris-e2e/src/integration/workshops.spec.ts
Due: prettier --write, eslint

test: add tests for different screen resolutions for workshops page
  apps/naris-e2e/src/integration/workshops.spec.ts
Due: prettier --write, eslint

test: add test for access restricted massage for workshops page
  apps/naris-e2e/src/integration/workshops.spec.ts
Due: prettier --write, eslint

test(e2e-naris): fix prolbles with info spec
  apps/naris-e2e/src/integration/info.spec.ts
Due: prettier --write, eslint

fix: брал async + await при вызове getRefreshToken и getAccessToken, там где это больше не надо
  apps/auth/src/app/auth/auth.controller.ts
  apps/auth/src/app/auth/auth.service.ts
Due: prettier --write, eslint

refactor: изолировал логику RefreshToken в отдельный сервис
  apps/auth/src/app/auth/auth.module.ts
  apps/auth/src/app/auth/auth.service.ts
  apps/auth/src/app/auth/refresh-token.service.ts
  apps/auth/src/app/auth/tests/auth.test.module.ts
  apps/auth/src/app/user/user.module.ts
Due: prettier --write, eslint

test: тесты для хелпера RefreshTokenHelper
  apps/auth/src/app/auth/helpers/refresh-token.helper.spec.ts
  apps/auth/src/app/auth/tests/refresh-token.test.helper.ts
Due: prettier --write, eslint

refactor: удалил ненужный await из AuthService
  apps/auth/src/app/auth/auth.service.ts
Due: prettier --write, eslint

refactor: убрал зависимость от ConfigService и JwtService в RefreshTokenHelper, AccessTokenHelper
  apps/auth/src/app/auth/auth.service.ts
  apps/auth/src/app/auth/helpers/access-token.helper.ts
  apps/auth/src/app/auth/helpers/refresh-token.helper.ts
Due: prettier --write, eslint

refactor: изолировал логику RefreshToken и AccessToken в отдельные хелперы
  apps/auth/src/app/auth/auth.module.ts
  apps/auth/src/app/auth/auth.service.ts
  apps/auth/src/app/auth/helpers/access-token.helper.ts
  apps/auth/src/app/auth/helpers/refresh-token.helper.ts
  apps/auth/src/app/auth/jwt-payload.interface.ts
  apps/auth/src/app/auth/refresh-token.service.ts
  apps/auth/src/app/auth/tests/auth.test.module.ts
  apps/auth/src/app/auth/types/access-token-payload.interface.ts
  apps/auth/src/app/auth/types/refresh-token-payload.interface.ts
  apps/auth/src/app/user/user.module.ts
Due: prettier --write, eslint

refactor: создал базовый класс для RefreshTokenHelper и AccessTokenHelper
  apps/auth/src/app/auth/helpers/access-token.helper.ts
  apps/auth/src/app/auth/helpers/base-token.helper.ts
  apps/auth/src/app/auth/helpers/refresh-token.helper.ts
Due: prettier --write, eslint

test: сократил количество тестов в RefreshTokenHelper + новые тесты для AccessTokenHelper
  apps/auth/src/app/auth/helpers/access-token.helper.spec.ts
  apps/auth/src/app/auth/tests/auth.test.config.ts
  apps/auth/src/app/auth/tests/auth.test.module.ts
  apps/auth/src/app/auth/tests/refresh-token.test.helper.ts
Due: prettier --write, eslint

test(naris-api-json): add test for auth_email checks
  apps/naris-api/src/app/common/helpers/JwtTestHelper.ts
  apps/naris-api/src/app/modules/json/json.controller.e2e.spec.ts
Due: prettier --write, eslint

feat(naris-api-json): add getNew method and authro_emaul support
  apps/naris-api/src/app/common/decorators/auth-user.decorator.ts
  apps/naris-api/src/app/common/decorators/index.ts
  apps/naris-api/src/app/modules/json/json.controller.ts
  apps/naris-api/src/app/modules/json/json.service.ts
Due: prettier --write, eslint

feat: add feature flag api_v2
  apps/naris/src/app/pages/pages-routing.module.ts
  apps/naris/src/environments/environment.interface.ts
  apps/naris/src/environments/feature-flags.ts
Due: prettier --write, eslint

chore(naris): release version 0.12.0
  apps/naris/CHANGELOG.md
Due: none

fix: correct markdown variable binding
  apps/naris/src/app/pages/modules/targets/description.service.ts
  apps/naris/src/app/pages/modules/targets/target-description/target-description.component.html
Due: prettier --write, eslint

fix: don't complete behavior subject from the store
  apps/naris/src/app/pages/modules/targets/description.service.ts
Due: prettier --write, eslint

chore(naris): release version 0.12.1
  apps/naris/CHANGELOG.md
Due: none

feat: change design for tasks
  libs/soer-components/src/lib/aims-tree/aim-raw/aim-raw.component.html
  libs/soer-components/src/lib/aims-tree/aim-raw/aim-raw.component.scss
  libs/soer-components/src/lib/aims-tree/target/target.component.html
  libs/soer-components/src/lib/aims-tree/target/target.component.scss
Due: prettier --write

Загрузил(а) файлы в 'docs/adr'
  docs/adr/linking-accounts-by-secret-key.md
  docs/adr/linking-accounts-on-demand.md
Due: none

feat: add confirm component
  libs/soer-components/src/index.ts
  libs/soer-components/src/lib/confirm/confirm.component.ts
  libs/soer-components/src/lib/confirm/confirm.module.ts
  libs/soer-components/src/lib/confirm/confirm.service.ts
Due: prettier --write, eslint

feat: add list component
  libs/soer-components/src/index.ts
  libs/soer-components/src/lib/list/list.component.html
  libs/soer-components/src/lib/list/list.component.scss
  libs/soer-components/src/lib/list/list.component.stories.ts
  libs/soer-components/src/lib/list/list.component.ts
  libs/soer-components/src/lib/list/list.model.ts
  libs/soer-components/src/lib/list/list.module.ts
Due: prettier --write, eslint

feat: add activity journal page
  apps/naris/src/app/api/progress/personal-activity.service.ts
  apps/naris/src/app/pages/modules/account-page/account-page.module.ts
  apps/naris/src/app/pages/modules/account-page/activity-journal-page/activity-journal-page.component.html
  apps/naris/src/app/pages/modules/account-page/activity-journal-page/activity-journal-page.component.scss
  apps/naris/src/app/pages/modules/account-page/activity-journal-page/activity-journal-page.component.ts
  apps/naris/src/app/pages/modules/overview/calendar-page/calendar-page.component.ts
  apps/naris/src/app/pages/pages-routing.module.ts
  apps/naris/src/app/services/video/video.models.ts
  apps/naris/src/app/services/video/video.service.spec.ts
  apps/naris/src/app/services/video/video.service.ts
Due: prettier --write, eslint

feat(activity-journal): add ability change visibility journal of personal activity by feature flag
  apps/naris/src/app/pages/pages-routing.module.ts
  apps/naris/src/environments/environment.interface.ts
  apps/naris/src/environments/feature-flags.ts
Due: prettier --write, eslint

test: e2e conspects spec Co-authored-by: DiZiNnEs <dizinnes228@gmail.com> Co-committed-by: DiZiNnEs <dizinnes228@gmail.com>
  apps/naris-e2e/cypress.json
  apps/naris-e2e/src/integration/workbook/conspects/conspects.spec.cy.ts
Due: prettier --write, eslint

docs: update section with changes request
  CONTRIBUTE.md
Due: none

docs: add cypress best practices
  CONTRIBUTE.md
Due: none

docs: fix typos
  CONTRIBUTE.md
Due: none

fix(editor): fix textarea resize bug
  libs/sr-editor/src/lib/components/block-editor/block-editor.component.scss
  libs/sr-editor/src/lib/components/block-editor/block-editor.component.ts
Due: prettier --write, eslint

feat: add subscription tab in profile
  apps/naris/src/app/pages/pages-routing.module.ts
  apps/naris/src/environments/environment.interface.ts
  apps/naris/src/environments/feature-flags.ts
Due: prettier --write, eslint

refactor: обновлен метод создания статей
  apps/naris-e2e/src/support/commands.ts
Due: prettier --write, eslint

refactor: обновлен метод удаления статей
  apps/naris-e2e/src/support/commands.ts
Due: prettier --write, eslint

refactor: обновлен файл с константами
  apps/naris-e2e/src/support/pathConstants.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: *.{ts,js}) or (any of: *.{scss,html})
  eslint: any of: *.{ts,js}
