Repository zenby/naris: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,js}": [
    "prettier --write",
    "eslint"
  ],
  "*.{scss,html}": [
    "prettier --write"
  ]
}

refactor: delete unnecessary hardcoded waiting time
  apps/naris-e2e/src/integration/qa.spec.ts
Due: prettier --write, eslint

refactor: implement data-cy attributes for text area
  apps/naris-e2e/src/integration/qa.spec.ts
  apps/naris/src/app/pages/modules/questions/question-form/question-form.component.html
Due: prettier --write, eslint

refactor: apply data-cy atttribute to element with proposal to ask question
  apps/naris-e2e/src/integration/qa.spec.ts
  apps/naris/src/app/pages/modules/questions/list-questions-page/list-questions-page.component.html
Due: prettier --write, eslint

chore: updater for targets
  tools/targetUpdate.js
Due: prettier --write, eslint

chore(auth-cdn): add swagger documentation
  apps/auth-cdn/src/app/resource/doc/error-response.schema.ts
  apps/auth-cdn/src/app/resource/doc/get-response.schema.ts
  apps/auth-cdn/src/app/resource/doc/upload-body.schema.ts
  apps/auth-cdn/src/app/resource/doc/upload-response.schema.ts
  apps/auth-cdn/src/app/resource/dto/resources-query.dto.ts
  apps/auth-cdn/src/app/resource/resource.controller.ts
  apps/auth-cdn/src/swagger.ts
Due: prettier --write, eslint

feat: add cli commands
  apps/naris/src/app/app.module.ts
  apps/naris/src/app/cli/naris-cli.service.ts
Due: prettier --write, eslint

chore: update file with version
  apps/naris/src/environments/version.ts
Due: prettier --write, eslint

chore(naris): release version 0.27.0
  apps/naris/CHANGELOG.md
Due: none

feat: add script to naris browser cli
  apps/naris/src/app/app.module.ts
  apps/naris/src/environments/features.ts
  libs/sr-feature-flags/src/lib/interfaces.ts
Due: prettier --write, eslint

docs: add snippet for patch accessTag
  docs/snippets.naris.md
Due: none

docs: add snippet for watch ChangeEvent
  docs/snippets.naris.md
Due: none

docs: add snippet example
  docs/snippets.naris.md
Due: none

docs: small changes
  docs/snippets.naris.md
Due: none

feat: remove personal activity v2
  apps/naris/src/app/api/progress/subscribers/target-achieved.subscriber.ts
  apps/naris/src/app/api/progress/subscribers/task-closed.subscriber.ts
Due: prettier --write, eslint

feat: change environment to configService
  apps/auth/src/app/common/strategies/google.strategy.spec.ts
  apps/auth/src/app/common/strategies/google.strategy.ts
  apps/auth/src/app/common/strategies/yandex.strategy.spec.ts
  apps/auth/src/app/common/strategies/yandex.strategy.ts
  apps/auth/src/app/config/config.ts
  libs/sr-common-interfaces/src/lib/common-config.interface.ts
Due: prettier --write, eslint

feat: add link smart id
  apps/naris/src/app/cli/naris-cli.service.ts
  apps/naris/src/app/pages/modules/links/links.const.ts
  apps/naris/src/app/pages/pages-routing.module.ts
Due: prettier --write, eslint

feat: add link video page
  apps/naris/src/app/pages/modules/links/links.module.ts
  apps/naris/src/app/pages/modules/links/video-view-page/video-view-page.component.html
  apps/naris/src/app/pages/modules/links/video-view-page/video-view-page.component.scss
  apps/naris/src/app/pages/modules/links/video-view-page/video-view-page.component.ts
  apps/naris/src/app/pages/modules/targets/targets-routing.module.ts
  apps/naris/src/app/pages/modules/targets/targets.module.ts
Due: prettier --write, eslint

docs: add snippet for create link
  docs/snippets.naris.md
Due: none

feat: add decorators for user and manifest
  libs/sr-auth-nest/src/lib/manifest.decorator.ts
  libs/sr-auth-nest/src/lib/user.decorator.ts
Due: prettier --write, eslint

feat: add manifest to req
  libs/sr-auth-nest/src/index.ts
  libs/sr-auth-nest/src/lib/tests/manifest.fixtures.ts
  libs/sr-auth-nest/src/lib/user-manifest.guard.ts
Due: prettier --write, eslint

feat: add check roles to document api
  apps/naris-api/src/app/common/helpers/document.test.helper.ts
  apps/naris-api/src/app/modules/json/document.controller.e2e.spec.ts
  apps/naris-api/src/app/modules/json/document.controller.ts
  apps/naris-api/src/app/modules/json/json.service.ts
Due: prettier --write, eslint

feat: add video link to target
  apps/naris/src/app/api/targets/target.interface.ts
  apps/naris/src/app/pages/modules/targets/list-aims-page/list-aims-page.component.html
  apps/naris/src/app/pages/modules/targets/list-aims-page/list-aims-page.component.ts
  apps/naris/src/app/pages/modules/targets/target-description-form/target-description-form.component.html
  apps/naris/src/app/pages/modules/targets/target-description-form/target-description-form.component.ts
  libs/soer-components/src/lib/aims-tree/aim-raw/aim-raw.component.html
  libs/soer-components/src/lib/aims-tree/aim-raw/aim-raw.component.ts
  libs/soer-components/src/lib/aims-tree/aims-tree/aims-tree.component.html
  libs/soer-components/src/lib/aims-tree/aims-tree/aims-tree.component.ts
  libs/soer-components/src/lib/aims-tree/interfaces/aim.model.ts
  libs/soer-components/src/lib/aims-tree/target/target.component.html
  libs/soer-components/src/lib/aims-tree/target/target.component.ts
  libs/soer-components/src/lib/todo/todo/todo.component.html
  libs/soer-components/src/lib/todo/todo/todo.component.scss
  libs/soer-components/src/lib/todo/todo/todo.component.ts
Due: prettier --write, eslint

feat: remove author email from output in documents
  apps/naris-api/src/app/common/helpers/document.test.helper.ts
  apps/naris-api/src/app/modules/json/document.controller.e2e.spec.ts
  apps/naris-api/src/app/modules/json/document.controller.ts
  apps/naris-api/src/app/modules/json/json.service.ts
Due: prettier --write, eslint

chore(naris-api): release version 0.5.0
  apps/naris-api/CHANGELOG.md
Due: none

fix: add missed import
  apps/auth/src/app/auth/auth.service.ts
Due: prettier --write, eslint

fix(auth): forbid creation of users with equal emails
  apps/auth/src/app/auth/auth.service.ts
Due: prettier --write, eslint

refactor: hide user creation specificity from a client
  apps/auth/src/app/auth/auth.controller.ts
Due: prettier --write, eslint

chore: remove outdated and unused http docs
  apps/auth/src/app/auth/auth.http
  apps/naris-api/src/app/modules/json/json.http
  apps/naris-api/src/app/modules/questions/questions.http
  apps/naris/src/app/common.http
  apps/naris/src/app/pages/modules/abstracte/workbook.http
  apps/naris/src/app/pages/modules/questions/questions.http
  apps/naris/src/app/pages/modules/targets/targets.http
  apps/naris/src/app/pages/modules/targets/templates.http
  workshop/rest/src/documents/documents.api.http
  workshop/rest/src/groups/groups.api.http
Due: none

refactor: remove unused methods
  apps/naris/src/app/pages/modules/links/video-view-page/video-view-page.component.ts
  libs/sr-dto/src/lib/dto.helpers.ts
Due: prettier --write, eslint

feat: add status pipe and errors catch for Store
  apps/naris/src/app/pages/modules/links/links.module.ts
  apps/naris/src/app/pages/modules/links/video-view-page/video-view-page.component.html
  apps/naris/src/app/pages/modules/links/video-view-page/video-view-page.component.ts
  libs/sr-dto/src/lib/dto.helpers.ts
  libs/sr-dto/src/lib/services/data-store.service.ts
Due: prettier --write, eslint

feat: add types with status error
  apps/naris/src/app/pages/modules/links/video-view-page/video-view-page.component.html
  apps/naris/src/app/pages/modules/links/video-view-page/video-view-page.component.ts
  libs/sr-dto/src/lib/dto.helpers.ts
  libs/sr-dto/src/lib/interfaces/dto.pack.interface.ts
  libs/sr-dto/src/lib/interfaces/serialize-json.model.ts
Due: prettier --write, eslint

feat: add type for loading, init, update DTO states
  libs/sr-dto/src/lib/interfaces/dto.pack.interface.ts
Due: prettier --write, eslint

feat: add errors to access denied component
  apps/naris/src/app/pages/modules/links/links.module.ts
  apps/naris/src/app/pages/modules/links/video-view-page/video-view-page.component.html
  libs/soer-components/src/lib/access-denied/access-denied.component.html
  libs/soer-components/src/lib/access-denied/access-denied.component.ts
Due: prettier --write, eslint

feat: default return from json parse is loading
  libs/sr-dto/src/lib/dto.helpers.ts
Due: prettier --write, eslint

feat: add video and info tags
  apps/naris/src/app/pages/modules/abstracte/list-abstracte-page/list-abstracte-page.component.ts
  apps/naris/src/app/pages/modules/targets/list-aims-page/list-aims-page.component.ts
  apps/naris/src/app/pages/modules/targets/target-description-form/target-description-form.component.html
  apps/naris/src/app/pages/modules/targets/target-description-form/target-description-form.component.ts
  libs/soer-components/src/lib/aims-tree/aim-raw/aim-raw.component.html
  libs/soer-components/src/lib/aims-tree/aim-raw/aim-raw.component.scss
  libs/soer-components/src/lib/aims-tree/aim-raw/aim-raw.component.ts
  libs/soer-components/src/lib/aims-tree/aims-tree.module.ts
  libs/soer-components/src/lib/aims-tree/aims-tree/aims-tree.component.ts
  libs/soer-components/src/lib/aims-tree/interfaces/aim.model.ts
  libs/soer-components/src/lib/aims-tree/target/target.component.ts
  libs/sr-dto/src/lib/services/pdf.convertor.service.ts
  libs/sr-editor/src/lib/components/editor/editor.component.ts
  libs/sr-editor/src/lib/interfaces/document.model.ts
Due: prettier --write, eslint

refactor: add checks for undefined blocks
  apps/naris/src/app/pages/modules/targets/template-create/template-create.component.html
  libs/soer-components/src/lib/aims-tree/aim-raw/aim-raw.component.html
Due: prettier --write

test: remove repo mocks
  apps/auth/src/app/auth/auth.e2e.spec.ts
Due: prettier --write, eslint

test: add a happy path test for the signout endpoint
  apps/auth/src/app/auth/auth.e2e.spec.ts
Due: prettier --write, eslint

test: update test for access token getting with fingerprint
  apps/auth/src/app/auth/auth.e2e.spec.ts
  apps/auth/src/app/user/tests/test.users.ts
Due: prettier --write, eslint

refactor: delete unnecessary 1 sec waiting
  apps/naris-e2e/src/integration/metrics.spec.ts
Due: prettier --write, eslint
